.hero form {
  position: relative;
}
.feedback {
  width: 320px;
  padding: 20px;
  color: #f30000;
  border-radius: 3px;
  background: var(--white);
  position: absolute;
  left: calc(100% + 30px);
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
}

.box {
  width: 0;
  height: 0;
  margin: 1rem auto;
  border-width: 5px 10px;
  border-style: solid;
}
.box1 {
  /* border: 10px solid red; */
  border-color: red;
}
.box2 {
  border-color: red blue;
}
.box3 {
  border-color: transparent red transparent transparent;
}

.feedback:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  right: 100%;
  top: 30px;
}
